body {
    background-color: rgb(208, 225, 239);
    margin-left: 20%;
    margin-right: 20%;
}

#title {
    text-align: center;
    text-shadow: 5px 5px 10px rgb(51, 47, 47);
    font-size: 7vh;
}

img {
    display: inline-block;
    width: 100%;
}

#caption {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', 
     Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

small#caption {
   column-gap: 20px;
}

div#tribute-data {
    background-color: rgb(183, 198, 203);
    box-shadow: 20px 20px 20px #4f574f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

h1.title-APJ {
    font-size: 35px;
    color: rgb(32, 26, 26);
    text-align: center;
    text-shadow: 5px 5px 10px rgb(65, 48, 48);
}

#tribute-link {
    text-decoration: none;
    color: black;
    text-align: center;
}

#main-footer {
    text-align: center;
    color: rgb(224, 18, 18);
    background-color: #2f682f;
    padding: 20px;
}